*.class

# Log file
*.log

# Spring Boot specific files
target/
*.jar

# STS specific
.springBeans

# Docker files
docker-compose.override.yml
.env
.env.*
*.env

# IntelliJ IDEA
.idea/
*.iml

# Node.js modules
node_modules/

# Mac OS
.DS_Store

# Logs
logs/
*.log

# Database files
*.db
pgdata/